<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Generator Fakta</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="main-container">
    <div class="container">
      <h1>Fakta Random 🎉</h1>
      <div class="tahun-section">
        <p id="year"><strong><%= year %></strong></p>
      </div>
      <div class="fact-section">
        <p id="fact"><%= fact %></p>
      </div>
      <button id="more-fact-btn">Fakta Lainnya</button>
    </div>
    <div class="ad-container">
      <!-- Add your Google Ads code here -->
      <p>Ad content here</p>
    </div>
  </div>

  <script>
    document.getElementById('more-fact-btn').addEventListener('click', async () => {
      const button = document.getElementById('more-fact-btn');
      button.style.backgroundColor = '#bb563c'; // Change color on click

      const response = await fetch('/fact');
      const data = await response.json();

      document.getElementById('year').innerText = data.year;
      document.getElementById('fact').innerText = data.fact;

      setTimeout(() => {
        button.style.backgroundColor = '#E68369'; // Revert to original color
      }, 300); // Delay to show the color change effect
    });
  </script>
</body>
</html>
