/* General styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  flex-direction: column; /* Ensure elements stack vertically */
}

.main-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  text-align: center;
  padding: 20px;
  background: #131842;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  max-width: 80%;
  width: 100%; /* Ensure full width */
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #f9f9f9;
}

.tahun-section, .fact-section {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px; /* Minimum height for consistency */
}

.tahun-section {
  background-color: #ECCEAE;
  color: #131842;
}

.fact-section {
  background-color: #FBF6E2;
  color: #131842;
  overflow: hidden; /* Hide overflow text */
}

.tahun-section p, .fact-section p {
  margin: 0;
  width: 100%; /* Ensure text doesn't affect the container size */
  white-space: normal; /* Allow text wrapping */
  text-overflow: ellipsis; /* Add ellipsis for overflow text */
}

.tahun-section p {
  font-size: 1.5em;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #E68369;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #bb563c;
}

.ad-container {
  padding: 20px;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  max-width: 80%;
  width: 100%; /* Ensure full width */
  text-align: center;
}

/* Mobile styles */
@media (max-width: 600px) {
  body, html {
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    height: auto;
  }

  .main-container {
    width: 100%;
    padding: 10px;
  }

  .container {
    width: 100%;
    max-width: 100%;
    padding: 15px;
    box-shadow: none;
    border-radius: 0;
  }

  .ad-container {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    padding: 10px;
    box-shadow: none;
    border-radius: 0;
  }

  h1 {
    font-size: 1.5rem;
  }

  .tahun-section p, .fact-section p {
    font-size: 1.2rem;
  }

  button {
    width: 100%;
    font-size: 1rem;
  }
}
